<ion-view view-title="Exercises">
	<ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.main.home"><i class="icon ion-android-arrow-back"></i>
		Back
		</button>
    </ion-nav-buttons>
	<ion-content padding="true">
	<div ng-repeat="ex in program['weeks'][0]['days'][0]['exercises']">
	
		<div class="card">
			<div class="item item-divider">
			{{ ex.name}}
			<span class="item-note">
				{{ ex.sets }} x {{ ex.reps }} x {{ ex.weight }} Kg
			</span>
			</div>
			<div class="item item-text-wrap item-thumbnail-left">
				<img src="img/exercises/{{ex.name}}.jpg">
				<p> rest: {{ ex.rest }} minutes</p>
				<p>comment: {{ ex.comment }}</p>
			</div>
		</div>		
    </div>
	
	<div class="list list-inset">
		
		
		<label class="item item-input item-stacked-label">
			<span class="input-label">Workout notes</span>
			<textarea rows="2" cols="80" name="workout-notes" form="usrform" placeholder="Enter notes here..."></textarea>
		</label>
	</div>
	
    <div class="button-bar">
        <a class="button button-ligth" ui-sref="app.main.home">Cancel</a>
        <a class="button button-assertive" ui-sref="app.main.home">Save workout</a>
    </div>
		
	</ion-content>
</ion-view>