<ion-view view-title="Feedback">
	<ion-content scroll="false" padding="true">
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Name">
			</label>
			<label class="item item-input">
				<input type="email" placeholder="E-mail address">
			</label>
			<label class="item item-input">
				<textarea rows="10" cols="80" name="comment" form="usrform" placeholder="Enter feedback here..."></textarea>
			</label>
			
		</div>
		<button class="button button-full button-assertive">Send feedback!</button>
	</ion-content>
</ion-view>