<ion-view view-title="Programs">
	<ion-content padding="true">
	
		<div class="card" ui-sref="app.weekView">
			<div class="item item-divider">
			{{ program.name }}
			</div>
			<div class="item item-text-wrap">
				<p>Type: {{ program.style}}</p>
				<p>number of weeks: {{ program.nWeeks}}</p>
				<p>days per week: {{ program.nDays}}</p>
			</div>
		</div>
		
		<div class="card" ui-sref="app.weekView">
			<div class="item item-divider">
			{{ program2.name }}
			</div>
			<div class="item item-text-wrap">
				<p>Type: {{ program2.style}}</p>
				<p>number of weeks: {{ program2.nWeeks}}</p>
				<p>days per week: {{ program2.nDays}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>