<ion-view view-title="Settings">
	<ion-content>
		<div class="list">

			<a class="item item-icon-left" href="#">
				<i class="icon ion-ios-body"></i>
				Name
				<span class="item-note">
				  Robin Koezen
				</span>
			</a>

			<a class="item item-icon-left" href="#">
				<i class="icon ion-email"></i>
				E-mail
				<span class="item-note">
				  info@acinex.nl
				</span>
			</a>
			
			<a class="item item-icon-left" href="#">
				<i class="icon ion-locked"></i>
				Password
				<span class="item-note">
				  Change
				</span>
			</a>
			
			<div class="item item-divider">
				Maxes
			</div>
			
			<a class="item" href="#">
				Squat
				<span class="item-note">
				  200 KG
				</span>
			</a>
			<a class="item" href="#">
				Bench
				<span class="item-note">
				  150 KG
				</span>
			</a>
			<a class="item" href="#">
				Deadlift
				<span class="item-note">
				  200 KG
				</span>
			</a>

		</div>
	</ion-content>
</ion-view>