<ion-view view-title="Weeks" >
	<ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.main.programs"><i class="icon ion-android-arrow-back"></i>
		Back
		</button>
    </ion-nav-buttons>
	<ion-content padding="true">
	<div ng-repeat="week in program.weeks">
		<div class="card" ui-sref="app.dayView">
			<div class="item item-divider">
			Week: {{$index + 1}}
			</div>
			<div class="item item-text-wrap">
				<p>Goal: {{ week.goal}}</p>
				<p>days per week: {{ program.nDays}}</p>
			</div>
		</div>
		
	</ion-content>
</ion-view>