<ion-view view-title="Weeks" >
	<ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="app.main.programs"><i class="icon ion-android-arrow-back"></i>
		Back
		</button>
    </ion-nav-buttons>
	
    <ion-header-bar class="bar-assertive bar-subheader">
      <ion-scroll direction="x" class="wide-as-needed">

		
        
        <a class="button button-dark" collection-repeat="week in program.weeks">Week: {{$index + 1}}</a>
        
        
      </ion-scroll>
    </ion-header-bar>
	<ion-content has-header="true" padding="true">
	
	
	<div ng-repeat="week in program.weeks">
		<div class="card" ui-sref="app.dayView">
			<div class="item item-divider">
			Week: {{$index + 1}}
			</div>
			<div class="item item-text-wrap">
				<p>Goal: {{ week.goal}}</p>
				<p>days per week: {{ program.nDays}}</p>
			</div>
		</div>
    </div>
        
		
	</ion-content>
</ion-view>